*{
  padding: 0px;
  margin: 0px;
  font-family: 'calibri';

  --bg-color: #7c7c7c;
}

/***color the whole page black***/
/*body{
  background-color: black;
}*/


.main{
  /***Stops the flashing during Animation***/
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;

  /***The Box***/
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; 
  height: 20%;
  min-width: 50%;
  max-width: 50%;
  background-color: var(--bg-color);
  margin:auto;
  top: 10rem;
  border-radius: .3rem;
  padding: 1.5rem;
  line-height: 2rem;
  margin-bottom: 20em;


  /***Animation***/
  animation-name: move;
  animation-duration: 1.2s;
  animation-delay: .5s;
  z-index: 2;
  
}
  /***Animation***/
@keyframes move{
  0% {background-color: #ffffff; left: -700px;}
  100% {background-color: var(--bg-color); left: 0px;}
}
.main:hover{
  transform:scale3d(1.02,1.02,1.02);
  transition: transform .5s ease-in-out;
  transform-style:preserve-3d;
}
.main:hover:after{
  transition: transform .5s ease-in-out;
}

/***Table***/
p{
  margin:2em;
}

table, td, th{
  border: 2px solid;
  border-radius: 0.3rem;
  padding: 20px;
  margin:auto;
}
td{
  padding:50px;
}
td:hover{
  transform: scale3d(1.03,1.03,1.03);
  transition: transform .5s ease-in-out, background-color .5s linear;
  background-color: var(--bg-color);
}
table{
  width:50%;
  
}

/***Light Mode and Dark Mode***/

.dark-mode{
  background-color: black;
  color:white;
}

/***Scroll to the top and bottom***/
.scroll-to-the-top, .scroll-to-the-bottom{
  position:fixed;
  margin:10px;
  padding:10px;
}
.scroll-to-the-bottom:hover{
  cursor:pointer;
}
.scroll-to-the-top:hover{
  cursor:pointer;
}
.scroll-to-the-top{
  bottom:50px;
}

.scroll-to-the-bottom{
  bottom:10px;
}


/**** Project ***/
.projectcontainer{
  margin-top: 10em;
}