*{
  padding: 0px;
  margin: 0px;
  font-family: 'calibri';
}


.main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position:fixed;
  line-height: 1fr;
  height: 800px;
  width: 20%;
  background-color: #97c0fd;
  top: 10rem;
  border-radius: .3rem;
  padding: 1.5rem;
  animation-name: move;
  animation-duration: 1s;
  animation-delay: 2ms;
}
@keyframes move{
  0% {background-color: #97c0fd; left: -700px;}
  100% {background-color: aqua; left: 0px;}
}
.main:hover{
  transform:scale3d(1.1,1.1,1.1);
  transition: transform .5s ease-in-out;
}
p{
  margin:2em;
}
table, td, th{
  border: 2px solid;
  padding: 20px;
  margin:auto;
}
td{
  padding:50px;
}
table{
  
  width:50%;
  border-collapse: collapse;
}

.br{
  display: block;
  height: 800px;
  width: 100%;
  box-sizing: border-box;
}
